node_red/dynamic_module.json
[{"id":"a97e91ee.268e68","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":803,"y":248,"wires":[["fdcc5034.2ef558","2a6b3b74.22cb2c","9dcaecd4.6c3bb8"]]},{"id":"a01b2599.fa4a38","type":"mqtt in","z":"f44ab120.279c38","name":"mqtt_rfid incoming","topic":"employee_badging_information","qos":"2","broker":"6c99e43f.72506c","x":205,"y":302,"wires":[["7aecbf9.0e46f4","7d6089de.4bdf7"]]},{"id":"8b4be6d4.e3bda","type":"mqtt out","z":"f44ab120.279c38","name":"mqtt_validation_rfid outgoing","topic":"","qos":"2","retain":"","broker":"6c99e43f.72506c","x":1400,"y":220,"wires":[]},{"id":"7aecbf9.0e46f4","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":490,"y":400,"wires":[]},{"id":"2432bbc.b9bdf44","type":"function","z":"f44ab120.279c38","name":"select by rfid","func":"msg.topic = 'SELECT id FROM rfid_key WHERE value=\"' + msg.payload.cardID + '\";';\nglobal.set('moduleID', msg.payload.moduleID);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["a97e91ee.268e68","618a79c0.be6dd"]]},{"id":"fdcc5034.2ef558","type":"function","z":"f44ab120.279c38","name":"mqtt_message_preparing","func":"if (msg.payload.length == 0) {\n    msg.payload = \"FAILED\";\n}\nelse {\n    msg.payload = \"OK\";\n}\nmsg.topic = global.get('moduleID');\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["6a830aae.9b82c4","8b4be6d4.e3bda"]]},{"id":"2a6b3b74.22cb2c","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1010,"y":140,"wires":[]},{"id":"c27db3b4.939a88","type":"function","z":"f44ab120.279c38","name":"INSERT in validation","func":"date = new Date().toISOString().slice(0, 19).replace('T', ' ');\nmsg.topic = 'INSERT INTO validation VALUES(0,\"' + global.get('moduleID') + '\",\"' + date + '\",' + msg.payload[0].id + ');'\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":420,"wires":[["535ebded.a07e9c","eb284080.64bc7"]]},{"id":"73995e1e.fca038","type":"function","z":"f44ab120.279c38","name":"SELECT test rfid_key","func":"msg.topic = \"SELECT * FROM rfid_key\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["a97e91ee.268e68"]]},{"id":"b0c56841.945d8","type":"inject","z":"f44ab120.279c38","name":"Run test SELECT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222,"y":170,"wires":[["73995e1e.fca038"]]},{"id":"618a79c0.be6dd","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"payload","x":790,"y":340,"wires":[]},{"id":"7d6089de.4bdf7","type":"json","z":"f44ab120.279c38","name":"","pretty":false,"x":430,"y":300,"wires":[["2432bbc.b9bdf44"]]},{"id":"6a830aae.9b82c4","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"true","x":1338.5,"y":154,"wires":[]},{"id":"1c7db2e6.1975b5","type":"e-mail","z":"f44ab120.279c38","server":"smtp.gmail.com","port":"465","secure":true,"name":" iot_epitech@mailinator.com ","dname":"Sending e-mail","x":1540,"y":300,"wires":[]},{"id":"21c5c74b.78a858","type":"function","z":"f44ab120.279c38","name":"Send e-mail if fail","func":"msg.topic = \"Security warning: Unauthorised ID\"\nmsg.payload = \"Unauthorised ID at the module \" + global.get('moduleID');\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":300,"wires":[["1c7db2e6.1975b5"]]},{"id":"9dcaecd4.6c3bb8","type":"switch","z":"f44ab120.279c38","name":"Check Database payload","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":1050,"y":360,"wires":[["21c5c74b.78a858"],["c27db3b4.939a88"]]},{"id":"535ebded.a07e9c","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":1800,"y":420,"wires":[["b88cc238.9f0b88"]]},{"id":"b88cc238.9f0b88","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1990,"y":420,"wires":[]},{"id":"eb284080.64bc7","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1570,"y":480,"wires":[]},{"id":"32ea77e2.11487","type":"function","z":"f44ab120.279c38","name":"SELECT test validation","func":"msg.topic = \"SELECT * FROM rfid_key\"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":560,"wires":[["535ebded.a07e9c"]]},{"id":"19fd35c6.5bc4da","type":"inject","z":"f44ab120.279c38","name":"Lancer SELECT de test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1220,"y":560,"wires":[["32ea77e2.11487"]]},{"id":"25cb4ff5.dd134","type":"http in","z":"f44ab120.279c38","name":"Add Module","url":"/module/add/:token","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1020,"wires":[["afac488c.991ab"]]},{"id":"2023bf09.1bc18","type":"http response","z":"f44ab120.279c38","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":1010,"y":940,"wires":[]},{"id":"5f22dba7.be3ce4","type":"template","z":"f44ab120.279c38","name":"Success","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h2>\n            Success\n        </h2>\n        <div>\n            {{ msg.payload }} has been added to the database.\n        </div>\n    </body>\n</html>","output":"str","x":820,"y":940,"wires":[["2023bf09.1bc18"]]},{"id":"2ec26379.21af1c","type":"function","z":"f44ab120.279c38","name":"Generate Token","func":"var token = \"\";\nvar possible = \"ABCDEF0123456789\";\n\nfor (var i = 0; i < 32; i++)\n    token += possible.charAt(Math.floor(Math.random() * possible.length));\n\nvar topic = \"New module !\";\nvar payload = \n    `Hello!\\n` +\n    `The module ${msg.req.params.moduleID} want to connect to the serveur.\\n` +\n    `Click on this link is you are ok with it\\n\\n` +\n    `http://mottet.xyz:1880/module/add/${token}`;\n    \nreturn {payload, topic};","outputs":1,"noerr":0,"x":524.5,"y":480,"wires":[["89f55c6a.b9da88"]]},{"id":"9cb871fd.0c4658","type":"http response","z":"f44ab120.279c38","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":510,"y":540,"wires":[]},{"id":"bfc0c357.555ce8","type":"http in","z":"f44ab120.279c38","name":"Request Token","url":"/token/:moduleID","method":"get","upload":false,"swaggerDoc":"","x":262.5,"y":486,"wires":[["2ec26379.21af1c","9cb871fd.0c4658"]]},{"id":"89f55c6a.b9da88","type":"e-mail","z":"f44ab120.279c38","server":"smtp.gmail.com","port":"465","secure":true,"name":" iot_epitech@mailinator.com ","dname":"Sending e-mail","x":800,"y":520,"wires":[]},{"id":"92a6dfd2.4b032","type":"mqtt in","z":"f44ab120.279c38","name":"mqtt_rfid module validation","topic":"module_validation","qos":"2","broker":"6c99e43f.72506c","x":200,"y":760,"wires":[["e2585647.d7037"]]},{"id":"e2585647.d7037","type":"json","z":"f44ab120.279c38","name":"","pretty":false,"x":395,"y":758,"wires":[["67d131e1.fbb3f8"]]},{"id":"67d131e1.fbb3f8","type":"function","z":"f44ab120.279c38","name":"select by moduleId","func":"msg.topic = 'SELECT label FROM valide_module WHERE label=\"' + msg.payload.moduleID + '\";';\nglobal.set('moduleToValidate', msg.payload.moduleID);\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":758,"wires":[["24978d4c.6ae50a"]]},{"id":"24978d4c.6ae50a","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":760,"y":760,"wires":[["9237f33d.1d4148"]]},{"id":"9237f33d.1d4148","type":"function","z":"f44ab120.279c38","name":"Is module valide","func":"msg.topic = global.get('moduleToValidate');\nvar failed = null;\n\nif (msg.payload.length === 0) {\n    failed = { payload: msg.topic };\n    msg.payload = \"FAILED\";\n}\nelse {\n    msg.payload = \"OK\";\n}\nreturn [msg, global.get(msg.topic) ? null : failed];","outputs":"2","noerr":0,"x":940,"y":760,"wires":[["240e981a.13ee3"],["a4a7d695.979d08"]]},{"id":"240e981a.13ee3","type":"mqtt out","z":"f44ab120.279c38","name":"mqtt_rfid module validation","topic":"","qos":"2","retain":"","broker":"6c99e43f.72506c","x":1300,"y":720,"wires":[]},{"id":"ce4711a0.682d4","type":"function","z":"f44ab120.279c38","name":"Generate Token","func":"var token = \"\";\nvar possible = \"ABCDEF0123456789\";\n\nfor (var i = 0; i < 32; i++)\n    token += possible.charAt(Math.floor(Math.random() * possible.length));\n\nglobal.set(token, msg.payload);\nglobal.set(msg.payload, true);\n\nvar topic = \"New module !\";\nvar email = \n    `Hello!\\n` +\n    `The module ${msg.payload} want to connect to the serveur.\\n` +\n    `Click on this link is you are ok with it\\n\\n` +\n    `https://mottet.xyz:1880/module/add/${token}`;\n   \nreturn [\n    { token, topic, payload: email },\n    { payload: { token, id: msg.payload}}\n];","outputs":"2","noerr":0,"x":1320,"y":840,"wires":[["50076db7.b9f69c"],["ebe6a28c.2b79b8"]]},{"id":"50076db7.b9f69c","type":"e-mail","z":"f44ab120.279c38","server":"smtp.gmail.com","port":"465","secure":true,"name":" iot_epitech@mailinator.com ","dname":"Sending module validation token","x":1620,"y":800,"wires":[]},{"id":"ebe6a28c.2b79b8","type":"delay","z":"f44ab120.279c38","name":"tokenLifeTime","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1560,"y":880,"wires":[["ff865994.6aa75"]]},{"id":"ff865994.6aa75","type":"function","z":"f44ab120.279c38","name":"Delete too old token","func":"global.set(msg.payload.token, null);\nglobal.set(msg.payload.id, null);\nreturn msg","outputs":1,"noerr":0,"x":1840,"y":880,"wires":[["b64d3674.a15a48"]]},{"id":"b64d3674.a15a48","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":2082.5,"y":880,"wires":[]},{"id":"afac488c.991ab","type":"function","z":"f44ab120.279c38","name":"Is module valide","func":"\nvar id = global.get(msg.req.params.token)\n\nif (id) {\n    global.set(id, null);\n    global.set(msg.req.params.token, null);\n    return [{ payload: id, res: msg.res }, null];\n}\nelse\n    return [null, { payload: 'Fail', res: msg.res }]","outputs":"2","noerr":0,"x":400,"y":1020,"wires":[["15a0cf0d.4ceb01"],["6379facc.c1c5e4"]]},{"id":"f6210ee1.108028","type":"http response","z":"f44ab120.279c38","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":950,"y":1080,"wires":[]},{"id":"347e6eae.2734fa","type":"template","z":"f44ab120.279c38","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h2>\n            Error\n        </h2>\n        <div>\n            Unknown token.\n        </div>\n    </body>\n</html>","output":"str","x":770,"y":1080,"wires":[["f6210ee1.108028"]]},{"id":"56efbf6b.91cd1","type":"function","z":"f44ab120.279c38","name":"INSERT in validation","func":"msg.topic = 'INSERT INTO valide_module VALUES(\"' + msg.payload + '\");'\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1017,"wires":[["300282ce.8e8fde"]]},{"id":"300282ce.8e8fde","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":1200,"y":1020,"wires":[["1330edf6.f7c332"]]},{"id":"1330edf6.f7c332","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1370,"y":1020,"wires":[]},{"id":"1068deba.c03099","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1330,"y":920,"wires":[]},{"id":"a4a7d695.979d08","type":"switch","z":"f44ab120.279c38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1150,"y":840,"wires":[["ce4711a0.682d4","1068deba.c03099"]]},{"id":"15a0cf0d.4ceb01","type":"switch","z":"f44ab120.279c38","name":"Not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":620,"y":980,"wires":[["5f22dba7.be3ce4","56efbf6b.91cd1"]]},{"id":"6379facc.c1c5e4","type":"switch","z":"f44ab120.279c38","name":"Not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":600,"y":1060,"wires":[["347e6eae.2734fa"]]},{"id":"631cc28d.a7e4c4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"iot_project","tz":""},{"id":"6c99e43f.72506c","type":"mqtt-broker","z":"","broker":"mottet.xyz","port":"8883","tls":"1c07bbb0.21c38c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1c07bbb0.21c38c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]