node_red/iot_project.json
[{"id":"a97e91ee.268e68","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":803,"y":248,"wires":[["fdcc5034.2ef558","2a6b3b74.22cb2c","9dcaecd4.6c3bb8"]]},{"id":"a01b2599.fa4a38","type":"mqtt in","z":"f44ab120.279c38","name":"mqtt_rfid incoming","topic":"employee_badging_information","qos":"2","broker":"6c99e43f.72506c","x":205,"y":302,"wires":[["7aecbf9.0e46f4","7d6089de.4bdf7"]]},{"id":"8b4be6d4.e3bda","type":"mqtt out","z":"f44ab120.279c38","name":"mqtt_validation_rfid outgoing","topic":"","qos":"2","retain":"","broker":"6c99e43f.72506c","x":1400,"y":220,"wires":[]},{"id":"7aecbf9.0e46f4","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":490,"y":400,"wires":[]},{"id":"2432bbc.b9bdf44","type":"function","z":"f44ab120.279c38","name":"select by rfid","func":"msg.topic = 'SELECT id FROM rfid_key WHERE value=\"' + msg.payload.cardID + '\";';\nglobal.set('moduleID', msg.payload.moduleID);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["a97e91ee.268e68","618a79c0.be6dd"]]},{"id":"fdcc5034.2ef558","type":"function","z":"f44ab120.279c38","name":"mqtt_message_preparing","func":"if (msg.payload.length == 0) {\n    msg.payload = \"FAILED\";\n}\nelse {\n    msg.payload = \"OK\";\n}\nmsg.topic = global.get('moduleID');\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["6a830aae.9b82c4","8b4be6d4.e3bda"]]},{"id":"2a6b3b74.22cb2c","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1010,"y":140,"wires":[]},{"id":"c27db3b4.939a88","type":"function","z":"f44ab120.279c38","name":"INSERT in validation","func":"date = new Date().toISOString().slice(0, 19).replace('T', ' ');\nmsg.topic = 'INSERT INTO validation VALUES(0,\"' + global.get('moduleID') + '\",\"' + date + '\",' + msg.payload[0].id + ');'\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":420,"wires":[["535ebded.a07e9c","eb284080.64bc7"]]},{"id":"73995e1e.fca038","type":"function","z":"f44ab120.279c38","name":"SELECT test rfid_key","func":"msg.topic = \"SELECT * FROM rfid_key\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["a97e91ee.268e68"]]},{"id":"b0c56841.945d8","type":"inject","z":"f44ab120.279c38","name":"Run test SELECT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222,"y":170,"wires":[["73995e1e.fca038"]]},{"id":"618a79c0.be6dd","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"payload","x":790,"y":340,"wires":[]},{"id":"7d6089de.4bdf7","type":"json","z":"f44ab120.279c38","name":"","pretty":false,"x":430,"y":300,"wires":[["2432bbc.b9bdf44"]]},{"id":"6a830aae.9b82c4","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"true","x":1338.5,"y":154,"wires":[]},{"id":"1c7db2e6.1975b5","type":"e-mail","z":"f44ab120.279c38","server":"smtp.gmail.com","port":"465","secure":true,"name":" iot_epitech@mailinator.com ","dname":"Sending e-mail","x":1540,"y":300,"wires":[]},{"id":"21c5c74b.78a858","type":"function","z":"f44ab120.279c38","name":"Send e-mail if fail","func":"msg.topic = \"Security warning: Unauthorised ID\"\nmsg.payload = \"Unauthorised ID at the module \" + global.get('moduleID');\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":300,"wires":[["1c7db2e6.1975b5"]]},{"id":"9dcaecd4.6c3bb8","type":"switch","z":"f44ab120.279c38","name":"Check Database payload","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":1050,"y":360,"wires":[["21c5c74b.78a858"],["c27db3b4.939a88"]]},{"id":"535ebded.a07e9c","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":1800,"y":420,"wires":[["b88cc238.9f0b88"]]},{"id":"b88cc238.9f0b88","type":"debug","z":"f44ab120.279c38","name":"","active":true,"console":"false","complete":"false","x":1990,"y":420,"wires":[]},{"id":"eb284080.64bc7","type":"debug","z":"f44ab120.279c38","name":"","active":true,"console":"false","complete":"false","x":1570,"y":480,"wires":[]},{"id":"32ea77e2.11487","type":"function","z":"f44ab120.279c38","name":"SELECT test validation","func":"msg.topic = \"SELECT * FROM rfid_key\"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":560,"wires":[["535ebded.a07e9c"]]},{"id":"19fd35c6.5bc4da","type":"inject","z":"f44ab120.279c38","name":"Lancer SELECT de test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1220,"y":560,"wires":[["32ea77e2.11487"]]},{"id":"631cc28d.a7e4c4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"iot_project","tz":""},{"id":"6c99e43f.72506c","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"8883","tls":"1c07bbb0.21c38c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1c07bbb0.21c38c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]