node_red/iot_project.json
[{"id":"a97e91ee.268e68","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":853,"y":295,"wires":[["fdcc5034.2ef558","2a6b3b74.22cb2c","9dcaecd4.6c3bb8"]]},{"id":"a01b2599.fa4a38","type":"mqtt in","z":"f44ab120.279c38","name":"mqtt_rfid incoming","topic":"employee_badging_information","qos":"2","broker":"6c99e43f.72506c","x":255,"y":349,"wires":[["7aecbf9.0e46f4","7d6089de.4bdf7"]]},{"id":"8b4be6d4.e3bda","type":"mqtt out","z":"f44ab120.279c38","name":"mqtt_validation_rfid outgoing","topic":"","qos":"2","retain":"","broker":"6c99e43f.72506c","x":1461,"y":263,"wires":[]},{"id":"7aecbf9.0e46f4","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":252,"y":445,"wires":[]},{"id":"2432bbc.b9bdf44","type":"function","z":"f44ab120.279c38","name":"select by rfid","func":"msg.topic = 'SELECT id FROM rfid_key WHERE value=\"' + msg.payload.cardID + '\";';\nglobal.set('moduleID', msg.payload.moduleID);\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":338,"wires":[["a97e91ee.268e68","618a79c0.be6dd"]]},{"id":"fdcc5034.2ef558","type":"function","z":"f44ab120.279c38","name":"mqtt_message_preparing","func":"if (msg.payload.length == 0) {\n    msg.payload = \"FAILED\";\n}\nelse {\n    msg.payload = \"OK\";\n}\nmsg.topic = global.get('moduleID');\nreturn msg;","outputs":1,"noerr":0,"x":1119,"y":257,"wires":[["6a830aae.9b82c4","8b4be6d4.e3bda"]]},{"id":"2a6b3b74.22cb2c","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":785,"y":216,"wires":[]},{"id":"c27db3b4.939a88","type":"function","z":"f44ab120.279c38","name":"INSERT dans validation","func":"date = new Date().toISOString().slice(0, 19).replace('T', ' ');\nmsg.topic = 'INSERT INTO validation VALUES(0,\"' + global.get('moduleID') + '\",\"' + date + '\",' + msg.payload[0].id + ');'\nreturn msg;","outputs":1,"noerr":0,"x":1059,"y":513,"wires":[["535ebded.a07e9c","eb284080.64bc7"]]},{"id":"73995e1e.fca038","type":"function","z":"f44ab120.279c38","name":"SELECT test rfid_key","func":"msg.topic = \"SELECT * FROM rfid_key\"\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":205,"wires":[["a97e91ee.268e68"]]},{"id":"b0c56841.945d8","type":"inject","z":"f44ab120.279c38","name":"Lancer SELECT de test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":282,"y":217,"wires":[["73995e1e.fca038"]]},{"id":"618a79c0.be6dd","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"payload","x":557.5,"y":494,"wires":[]},{"id":"7d6089de.4bdf7","type":"json","z":"f44ab120.279c38","name":"","pretty":false,"x":489.5,"y":359,"wires":[["2432bbc.b9bdf44"]]},{"id":"6a830aae.9b82c4","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"true","x":1388.5,"y":201,"wires":[]},{"id":"1c7db2e6.1975b5","type":"e-mail","z":"f44ab120.279c38","server":"smtp.gmail.com","port":"465","secure":false,"name":" iot_epitech@mailinator.com ","dname":"Sending e-mail","x":1558.5,"y":364,"wires":[]},{"id":"21c5c74b.78a858","type":"function","z":"f44ab120.279c38","name":"Envoyer e-mail if fail","func":"msg.payload = \"Mauvais badge pour le module \" + global.get('moduleID');\nreturn msg;","outputs":1,"noerr":0,"x":1329.5,"y":367,"wires":[["1c7db2e6.1975b5"]]},{"id":"9dcaecd4.6c3bb8","type":"switch","z":"f44ab120.279c38","name":"Check Database payload","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":1071.5,"y":341,"wires":[["21c5c74b.78a858"],["c27db3b4.939a88"]]},{"id":"535ebded.a07e9c","type":"mysql","z":"f44ab120.279c38","mydb":"631cc28d.a7e4c4","name":"Database","x":1343,"y":512,"wires":[["b88cc238.9f0b88"]]},{"id":"b88cc238.9f0b88","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1552.5,"y":517,"wires":[]},{"id":"eb284080.64bc7","type":"debug","z":"f44ab120.279c38","name":"","active":false,"console":"false","complete":"false","x":1095.5,"y":589,"wires":[]},{"id":"32ea77e2.11487","type":"function","z":"f44ab120.279c38","name":"SELECT test validation","func":"msg.topic = \"SELECT * FROM rfid_key\"\nreturn msg;","outputs":1,"noerr":0,"x":1138,"y":676,"wires":[["535ebded.a07e9c"]]},{"id":"19fd35c6.5bc4da","type":"inject","z":"f44ab120.279c38","name":"Lancer SELECT de test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":884,"y":674,"wires":[["32ea77e2.11487"]]},{"id":"631cc28d.a7e4c4","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"iot_project","tz":""},{"id":"6c99e43f.72506c","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"8883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]